<html>
  <head></head>
  <body>
    <p>
      Your task is <%= task %>
    </p>
    <form>
      <input type='text' name='task' />
      <input type='submit' value='Save' />
    </form>
  </body>
</html>