<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
  <!--  <link rel="stylesheet" href='styles.css' />-->
  </head>
  <body class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tasks</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>